<div class="container">
  <%%= render 'shared/index_action_bar',
        title: '<%= plural_table_name.titleize %>',
        new_object_path: new_<%= singular_table_name %>_path %>

  <table class="table table-striped">
    <thead>
      <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%= attribute.human_name %></th>
        <% end -%>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td>
          <p>
            <%%= <%= singular_table_name %>.<%= attribute.name %> %>
          </p>
        </td>
      <% end -%>

      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Actions <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li><%%= link_to 'Show', <%= singular_table_name %> %></li>
            <li><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></li>
            <li class="divider"></li>
            <li><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </td>
    </tr>
    <%% end %>
    </tbody>
  </table>
</div>