<div class="container">
  <%%= render 'shared/edit_action_bar', title: 'Edit <%= singular_table_name.titleize %>',
  object: @<%= singular_table_name %>, objects_path: <%= index_helper %>_path %>

  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>