<div class="container">
  <%%= render 'shared/show_action_bar', title: 'Show <%= singular_table_name.titleize %>',
             objects_path: <%= index_helper %>_path, edit_object_path: edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>

  <div class="container">
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <div class="row">
        <div class="col-sm-4">
          <p>
            <strong><%= attribute.human_name %>:</strong>
          </p>
        </div>
        <div class="col-sm-8">
          <p>
            <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
          </p>
        </div>
      </div>
      <% end -%>
  </div>
</div>